<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="menu">
    <a href="/">Главная</a>
    <a href="/api">Api</a>
    <a href="/test">Test</a>
    <a href="/auth">Войти</a>
</nav>
<h1>{{name}} are you here?</h1>
<form action="">
    {{#each data}}
        <input type="text" name={{this}} value={{this}}>
    {{/each}}
    <button class="btn" type="submit">Регистрация</button>
</form>
</body>
</html>